.container {
  display: flex;
  margin: 0 auto;
  height: 90vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  color: #c52626;
}

.input {
  width: 100%;
}

.item {
  width: 5vw;
  border: 2px #c52626 solid;
  border-radius: 5%;
  padding: 20px 0;
  background-color: whitesmoke;
  flex-grow: 1;
}

.double {
  flex-grow: 3;
}

.row {
  display: flex;
  min-height: 5vh;
  width: 25vw;
}
